[2020-08-13 13:26] atomfrede opened #420 "Documentation for usage with spotless gradle/maven plugin"
Spotless does support prettier and mentions prettier for java. Maybe we should provide examples how to configure spotless with prettier for java.

* https://github.com/diffplug/spotless/tree/main/plugin-gradle#prettier-plugins

[2020-08-22 18:58] #410 closed, assigned to nobody

[2020-08-30 17:33] clementdessoude commented on #416
@sam-goodwin I think this issue is closed with #422. Let me know if you think there are some issues/improvements!

[2020-08-30 17:33] #416 closed

[2020-08-30 17:49] clementdessoude opened #423 "Upgrade to chevrotain 7"
**Why ?**

We should try to have latest versions of our libs to include easily their improvements (bugs, enhancements, etc.)

**What ?**

I tried to upgrade, but ran into an error:

[code]

[2020-08-30 18:39] clementdessoude commented on #412
FYI, I just published the new version :)

[2020-09-01 19:20] mmadson commented on #271
Are there plans to merge #398 ? This particular issue has me on the fence about adopting prettier for our java project.

[2020-09-22 15:16] GFdevelop opened #428 "Release the build"
Why you don't release the build on npm registry? I waste time to configure my package to run the build after install and this add a code to maintain to my package...i would like to just add this package with npm install and then use it with the import/require

[2020-09-23 15:44] ruddell commented on #428
The packages in this repository are released on the npm registry.  Are you looking for something else?

https://github.com/jhipster/prettier-java#subpackages

[npm-prettier-plugin-java-image]: https://img.shields.io/npm/v/prettier-plugin-java.svg?color=blue&label=prettier-plugin-java&logo=prettier-plugin-java
[npm-prettier-plugin-java-url]: https://www.npmjs.com/package/prettier-plugin-java
[npm-j

[2020-10-02 20:08] jmfee-usgs opened #429 "Continuation Indent"
**Prettier-Java 0.5.1**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

When `throws` is wrapped, it seems like it should be more clearly separated from code inside the method.

One option is to use one additional indentation any time a line is wrapped, but open to alternatives:
[code]

[2020-10-02 20:20] jhaber commented on #429
Some related discussion: https://github.com/jhipster/prettier-java/pull/384#discussion_r410712022

[2020-10-06 09:38] #271 closed

[2020-10-06 14:59] ruddell commented on #428
Closing as there was no response for two weeks.

[2020-10-06 14:59] #428 closed

[2020-10-26 13:34] ricardobeat opened #430 "Cannot set tabWidth"
Android code uses four spaces. I am unable to set `tabWidth` via `.prettierrc` when using prettier-java, either at the root level or inside the source folder.

Is it possible to override [the defaults](https://github.com/jhipster/prettier-java/blob/master/.prettierrc.yaml)?

[2020-10-26 15:16] pascalgrimaud commented on #430
@ricardobeat : try this https://github.com/jhipster/generator-jhipster/blob/main/.prettierrc#L14-L18

[code]

[2020-10-28 08:16] Artur- commented on #277
Should this be changed into "Java 15" or "text blocks" suppport? Text blocks are no longer a preview feature and trying to format files with text blocks result in
[code]

[2020-10-29 13:24] ricardobeat commented on #430
does not work for me.

[2020-10-29 15:44] pascalgrimaud commented on #430
My `.prettierrc` file :

[code]

an extract of my package.json file :

[code]

Then, everything is formatted with 2 spaces, instead of 4.
So unless you can push a project as example, we won't be able to reproduce your issue as it works well for my personal project, and it works well for generated JHipster project

[2020-10-30 02:40] ricardobeat commented on #430
@pascalgrimaud can you try with `tabWidth: 4` in the .java override? Two is the default so you can't see the effect.

Steps to reproduce:

- `npx react-native init prettierJava`
- add `{ "files": "*.java", "options": { "tabWidth": 4 } }` to .prettierrc
- open `MainActivity.java` and format

[2020-10-30 02:53] ricardobeat commented on #430
In fact even changing the root `tabWidth` setting only affects .js files, not .java.

Tried this with both https://github.com/jhipster/generator-jhipster/ (it doesn't actually have any .java file but you can add one) and https://github.com/chatwoot/chatwoot-mobile-app, same results - Java files are always formatted with 2 spaces regardless of the config

[2020-10-30 11:11] ricardobeat commented on #430
https://github.com/mwpb/java-prettier-formatter/pull/2

[2020-10-30 11:11] #430 closed

[2020-10-30 11:17] DanielFran commented on #430
@pascalgrimaud @clementdessoude We should had information that exists VSCode extension: https://github.com/mwpb/java-prettier-formatter?

[2020-10-30 11:20] pascalgrimaud commented on #430
@ricardobeat : thanks for the information
@DanielFran : not sure, is it an official extension ?

[2020-10-31 18:31] clementdessoude commented on #277
Hi @Artur- ! I give it a try to support TextBlocks. It seems to work, but as I am not using text blocks a lot, I'm not sure if I am missing some edge cases

[2020-11-08 10:54] clementdessoude opened #433 "Support preview feature: Records"
# Why ?

Records are a preview feature from Java 14 & 15. We want to support it because we are hipsters ! 🤘

Resources:

- https://docs.oracle.com/javase/specs/jls/se15/preview/specs/records-jls.html
- https://docs.oracle.com/en/java/javase/15/language/records.html

[2020-11-08 10:55] clementdessoude opened #434 "Support preview feature: Pattern Matching for instanceof"
# Why ?

Patterns instance of are a preview feature from Java 14 & 15. We want to support it because we are hipsters ! 🤘

## Resources:

- https://docs.oracle.com/javase/specs/jls/se15/preview/specs/patterns-instanceof-jls.html
- https://docs.oracle.com/en/java/javase/15/language/pattern-matching-instanceof-operator.html

[2020-11-08 10:56] clementdessoude opened #435 "Support preview feature: sealed class"
# Why ?

Sealed class of are a preview feature from Java 14 & 15. We want to support it because we are hipsters ! 🤘

## Resources:

- https://docs.oracle.com/javase/specs/jls/se15/preview/specs/sealed-classes-jls.html
- https://docs.oracle.com/en/java/javase/15/language/sealed-classes-and-interfaces.html

[2020-11-10 17:40] Artur- commented on #277
Can this be easily tested before there is a release? Or could you make a release?

[2020-11-11 08:46] clementdessoude commented on #277
I'd like to merge #432 before doing a release, as it will cause some breaking changes. For now, you can use it locally by cloning the repo and using npm link or yarn link, but I hope I will manage to do a release soon :)

[2020-11-13 15:32] sanjayrawat1 commented on #286
@MichielBugherJelli suggestion looks pretty good to me. Why keep every element to next line once reached print width. A smart wrap respecting print width value would be perfect.

[2020-11-13 15:59] jhaber commented on #286
Prettier is an opinionated formatter, and it seems like one of those opinions is that either all elements in a group should line break, or none should (and prettier-java inherits this behavior from prettier since it's a prettier plugin). The example above might look tidy because all of the arguments are the same type and happen to align nicely, but it quickly becomes text soup when that's not the

[2020-11-14 04:32] xenoterracide opened #437 "Dynamic version of prettier"
would be good to have the version of prettier depended on be `^2.1.1` or `2.1.x`. I installed prettier first `2.1.2` and then when I went to install this yarn 2 grabbed an additional version of prettier `2.1.1`

[2020-11-14 04:51] hc-codersatlas commented on #437
Similar applies for eslint.

[2020-11-14 22:22] #277 closed

[2020-11-21 10:00] clementdessoude commented on #437
Hi  @xenoterracide ! I usually don't like using wildcards as it often leads to subtle bugs that can be hard to debug.

What I can try in the future is to publish a new version of the lib for each of prettier release.

[2020-11-24 22:22] Naveg opened #439 "Space before comma in multi-value switch expression case label"
**Prettier-Java 1.0.0**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**
No changes made. Specifically, `case BAR, BAZ` does not become `case BAR ,BAZ`

[2020-11-25 21:48] clementdessoude commented on #439
Oooh ! I definitively missed that... Thank you for reporting this !

It should be good with #440

[2020-11-25 21:51] clementdessoude commented on #437
I'm closing this, but feel free to comment if you have anything to add

[2020-11-25 21:51] #437 closed

[2020-11-27 09:20] #439 closed

[2020-11-27 09:24] DanielFran commented on #439
@clementdessoude Will you release a new version due to this bug?

[2020-11-27 09:28] clementdessoude commented on #439
Yes, I think I will release a patch release.

Will it cause an issue in jhipster ? I thought the previous one was caused by an issue with Node ?

[2020-11-27 09:34] DanielFran commented on #439
We update master a few days ago, so we might need to rollback prior the V7 release

[2020-11-27 10:03] clementdessoude commented on #439
I will release it tomorrow I think

[2020-12-04 09:17] y912765390 opened #442 "Incorrect syntax tree"
Hi I'm looking at ast online parsing using our parsing method here. But if the text is wrong halfway through, and the grammar crashes, I wonder if we can make something like ANTlR4 so that this node or its parent node is the wrong node without affecting the generation of the entire other syntax tree

[2020-12-04 11:43] bd82 commented on #442
Hello. @y912765390

Yes you can have fault tolerance with [Chevrotain](https://github.com/SAP/chevrotain) based Parsers.
- https://sap.github.io/chevrotain/docs/features/fault_tolerance.html

One point to consider is that this Java Parser uses very advanced lookahead logic
to keep the grammar implementation closely aligned with the official Java specifications.
I am uncertain how this advanced loo

[2020-12-05 22:50] MartijnDwars opened #443 "Formatting not stable"
**Prettier-Java 1.0.1 (through Prettier Maven Plugin 0.12)**

Similar to #368, code needs to be formatted multiple times before it stabilizes.

[code]

**Input:**

[code]

**Output after first run:**

[code]

**Output after second run:**

[code]

I won't go for the third run; I guess the pattern is clear.

**Expected behavior:**
It is probably not very common to put single-line comments inside a p

[2020-12-08 07:46] clementdessoude commented on #443
Thank you for reporting this! I will try to have a look in the next few days

[2020-12-08 20:37] xenoterracide opened #444 "decorator on inner class hosed"
I have this code

[code]

but prettier java is turning it into this.
[code]

[2020-12-12 19:32] saulpalv opened #446 "Parser works on browser?"
I tried running in browser as said in the readme that "it could"
![image](https://user-images.githubusercontent.com/19735362/101993170-c4787180-3c75-11eb-8e3e-9e311ff91ea0.png)

then with this simple code
![image](https://user-images.githubusercontent.com/19735362/101993182-db1ec880-3c75-11eb-84d0-36e33ebfe7b9.png)
![image](https://user-images.githubusercontent.com/19735362/101993187-e5d95d80-3c75

[2020-12-13 01:11] bd82 commented on #446
That code is not so simple as it seems to bundle your code with webpack before running it 😄 .

Which version of Chevrotain is used in prettier-java?
There was a recent fix for some webpack issues:
- https://sap.github.io/chevrotain/docs/changes/CHANGELOG.html#_7-0-3-10-30-2020

Also it is possible there is something else in the prettier-java code that is written in a browser incompatible manner.

[2020-12-13 09:19] clementdessoude commented on #446
Hi @saulpalv !

I think the issue is that the code you wrote is not a valid Java code "on its own" (it has to be wrapped in a method inside a Java class).

You can choose the parser entry point to parse any Java piece of code. In your example, the `expression` entrypoint should work (the list of accepted entrypoint can be found right [here](https://github.com/jhipster/prettier-java/blob/841036db3e

[2020-12-13 09:22] clementdessoude commented on #444
Thank you for reporting this, I will try to take a look at it this week

[2020-12-16 20:20] xenoterracide opened #447 "Import sorting doesn't seem compatible with Intellij"
Intellij IDEA, a very popular java IDE, with very customizable rules, doesn't seem to be able to sort in the same way that prettier-java does. I tried removing all the rules but "everything else" but it didn't work. the reason I mention this is that immediately after commit when reformatting and optimizing commits, intellij effectively reverts the changes by intellij-java. So prettier would have t

[2020-12-16 20:34] jhaber commented on #447
I believe this layout should make IntelliJ agree with prettier-java:
![image](https://user-images.githubusercontent.com/611459/102403316-17bf2c80-3fb4-11eb-983f-259a9fcc1667.png)

[2020-12-17 00:06] gmarziou commented on #447
Alternatively, you could set `--skip-commit-hook` option when generating your project to skip adding husky commit hooks that run Prettier.

[2020-12-17 07:41] pascalgrimaud commented on #447
@xenoterracide : can you have a look at my comment ? https://github.com/jhipster/prettier-java/issues/201#issuecomment-625710921

[2020-12-17 14:27] xenoterracide commented on #447
hmm, doesn't seem like that would fix it, as IIRC it was mixing `java.*` in with the other imports. I will give this stuff a try though, I might not get to it until after #444 is fixed.

[2020-12-17 15:16] jhaber commented on #447
For what it's worth, we have ~500 engineers using Prettier + IntelliJ without issue using the layout I posted

[2020-12-22 13:34] victornoel opened #448 "Inconsistent indentation between chained method call on method and on new object"
**Prettier-Java 1.0.1**

No options

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

[code]

[2020-12-23 15:42] tafelnl commented on #411
@Shaolans This seems to be fixed in the latest version.

[2020-12-24 21:04] xenoterracide opened #449 "Supply a copy/pasteable checkstyle config"
I wouldn't personally care how this is provided, a file in the repo, or in the readme, but it'd be great to have a copy-pasteable version to start with.  Might also consider asking checkstyle itself to put it on their site with the sun and google ones. can't test contribute atm due to #444 .

Side comment, and I doubt you're willing to fix this, and checkstyle has an autofix issue tracked... but i

[2020-12-25 05:54] madhur commented on #419
This needs to be looked into. I am planning to use this formatter in chrome extension which does not support module. It should expose a .mjs as a browser compatible parser.

[2020-12-26 07:53] pascalgrimaud commented on #419
Feel free to start to code if you need this.

As we contribute to Open Source project on our personal time, and we are not paid for that, I don't think it's interesting for us to code this plugin or something that we won't use.

[2021-01-08 23:03] saulpalv commented on #446
I see, thank you for the response, that java code was compiled and executed dynamically via JSHELL which accepts that input as valid and runs it.

I'll take your response

[2021-02-15 17:05] pulse00 opened #453 "Formatter produces uncompilable code"
I've created a sample repo which demonstrates the use case [here](https://github.com/pulse00/prettier-java-bug).

* [First commit](https://github.com/pulse00/prettier-java-bug/commit/581b2ca910345af8d6c203c3508e7976707ff91e#diff-3318c59ec33c5c95f2001ad2315b55ac6260debf379b92c2b5ee8c628d199a0d) compiles fine (unformatted)
* [Second commit ](https://github.com/pulse00/prettier-java-bug/commit/db202f

[2021-03-04 20:06] jellopuddingstick opened #454 "Unstable formatting for enum w/ comment"
**Prettier-Java 1.0.1**

The following code has to be formatted twice in order to "stabilize".

**Input:**

[code]

**First Output:**

[code]

**Second Output:**

[code]

**Expected behavior:**

The code should only need to be formatted once to produce the "stable" output.

[2021-03-13 09:51] clementdessoude commented on #453
Hi @pulse00 !

Thank you for reporting the issue, and sorry for the delay in response. I opened a PR that should fix the bug.

If everything is ok, I will merge it and release a new version of the lib

[2021-03-13 09:52] clementdessoude commented on #444
Hi @xenoterracide  !

I definitively took longer than a week to deep dive in the issue, sorry for the delay 😕

I opened up a PR that should fix it. If everything is ok, I will merge it and release a new version of the lib

[2021-03-13 17:29] clementdessoude commented on #448
Hi @victornoel !

It took a bit long, but I started working on this issue, thank you for reporting it ! I opened a PR, I hope it will fix it !

[2021-03-13 17:33] #444 closed

[2021-03-13 17:33] #453 closed

[2021-03-13 18:13] #448 closed

[2021-03-13 18:21] victornoel commented on #448
@clementdessoude very nice, thx!

[2021-03-14 07:55] #446 closed

[2021-03-14 11:39] clementdessoude commented on #443
I finally took some time to dig in the issue ! Sorry for the delay @MartijnDwars !

I opened a PR that should hopefully should fix the issue

[2021-03-14 12:07] #443 closed

[2021-03-19 00:42] Slooz commented on #29
I hate to bump this, but is that the only reason to use prettier-java over google-java-format? I use Prettier for other languages, and I'm evaluating whether my team should use Prettier for Java. google-java-format is more standard and popular, so I'm not really sure why we would or should use prettier-java. I'm not trying to hate on this project, because I love Prettier in general, but how would

[2021-03-19 18:11] jhaber commented on #29
I like the simplicity of just being able to run prettier on everything, leveraging its plugin system to support additional languages like Java. google-java-format and prettier-java also diverge pretty strongly on their formatting choices, so you might want to format some example code through both to get a sense of the differences (if you're already using prettier for Javascript, the prettier-java

[2021-03-25 18:44] jhaber opened #459 "Enforce braces around conditionals"
Wanted to get thoughts on prettier enforcing braces around conditionals (example below). I believe prettier-js has shot down this request in the past on the grounds that they don't want to modify the AST, but I'm not sure if prettier-java has already crossed that bridge. It would probably be a controversial decision and is maybe a slippery slope, but I think it's pretty well-established at this po

[2021-04-08 13:08] pulse00 commented on #453
@clementdessoude thanks a lot !

[2021-04-10 14:11] #433 closed

[2021-04-14 20:02] cameronweibel opened #462 "Cannot import into Nuxt project"
# Description
Importing this plugin into a Nuxt project and building with `npm run start (nuxt generate and nuxt start)` is not possible.

# Reproduction
Creating a page in Nuxt with the following code:
[code]

And building, navigating to page, results in an error of:
`TypeError: Cannot read property '1' of null at vn (a7816b4.js:2) at e.exports.e.initRecognizerEngine (a7816b4.js:2) at new e (a781

[2021-04-15 06:21] Balabili opened #463 "Enum value wrong when value is negative number"
**java-parser 1.0.2**

**Input:**

[code]

**Expected behavior:**

value expect -1 but get 1

[2021-04-15 10:18] cameronweibel commented on #462
Apparently - "This is not a Nuxt-specific issue. The error is being thrown by chevrotain, a dependency of prettier-plugin-java. It is inspecting the source code of a class with a RegExp to try to find a function name - which, because it's built, is different from development mode."

[2021-04-18 17:57] cameronweibel commented on #462
For anybody else reading this with the same issue, I fixed it with the following build options in nuxt.config.js:

  build: {
      terser: {
          parallel: true,
          cache: false,
          sourceMap: false,
          extractComments: {
              filename: "LICENSES",
          },
          terserOptions: {
              output: {
                  comments: /^\**!|@preserve|@licen

[2021-05-03 22:06] Bertpey opened #465 "Can't generate object"
Hi,
J'essaye de générer un projet Jhipster, et j'ai une erreur lors de la génération des entités,
ERROR! Error parsing file src\main\java\com\mycompany\myapp\repository\RegionRepository.java: Error: Sad sad panda, parsing errors detected in line: 12, column: 43!
Expecting token of type --> Identifier <-- but found --> '<' <--!

Cote .jdl j'ai pris tout simplement celui de https://start.jhipster.te

[2021-05-03 23:13] #465 closed

[2021-05-03 23:14] Bertpey commented on #465
probs env

[2021-05-09 16:03] MxD-js commented on #317
How does this integrate into vscode, other than using the terminal built into vscode? Or is this completely separate, and only invokable via CLI. So means I need to have node and npm installed on a dev system that I will not touch Js, only Java.

How does this project compare to https://marketplace.visualstudio.com/items?itemName=mwpb.java-prettier-formatter

[2021-05-20 11:33] tomereli opened #468 "Support removing unused imports"
Please add an option to auto-remove unused imports instead of just re-organizing them.
The fact is that the IDE (vscode) automatically adds imports when they are used (I guess its the java extension), then the plugin sorts them - but it would be great if it could also delete whatever is unused. We don't want to use the IDE for that because we use prettier checks in maven build in the CI.

**Pretti

[2021-05-20 12:05] bd82 commented on #468
TBH this sounds beyond the scope of a formatter and more in the scope of a linter

[2021-05-20 14:09] murdos commented on #468
@tomereli : you can use [Spotless ](https://github.com/diffplug/spotless/tree/main/plugin-maven)to combine formatting with prettier-java and automatic removal of unused imports:
[code]

[2021-05-20 14:59] tomereli commented on #468
Thank you for the suggestion - I was just hoping for something with both IDE integration and Maven support. For everything else we just use prettier along with the prettier java plugin, then we get a seamless experience - we use auto-format on save, and in the CI we run the check using maven.

[2021-05-21 06:52] jqno opened #469 "Record with static fields throws sad sad panda error"
**Prettier-Java 1.1.0**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**
To not throw an exception. [Records are allowed to have static fields](https://docs.oracle.com/en/java/javase/16/language/records.html), but prettier-java throws this error:
(Note that if I add a `public` modifier, prettier-java then starts to complain about that first. Also interesting: both `public`

[2021-05-21 06:53] jqno commented on #469
If it's relevant: I'm running Prettier through the Spotless Maven plugin.

[2021-05-21 07:47] pascalgrimaud commented on #469
@jqno : interesting about spotless maven plugin. Can you share your configuration plz?

[2021-05-21 07:53] jqno commented on #469
Sure! You can find it here: https://github.com/jqno/equalsverifier/blob/14d9d7afc0d522644b3ac0e0cac8f79852db9d6e/pom.xml#L433-L468

[2021-05-21 07:57] pascalgrimaud commented on #469
Thanks for sharing it !
About records, the support is very new, so there can be bugs. Hope someone can help to fix it

[2021-05-21 08:59] Shaolans commented on #469
Hi @jqno,
While investigating, this is what I found:
- The code snippet works on prettier-java 1.1.0
- I tried to pulled your project and I setted  <prettier-plugin-java>1.1.0</prettier-plugin-java> and it does format the code snippet as well.

[2021-05-21 09:16] jqno commented on #469
Thanks for trying to reproduce. I'm still getting the error. What else could cause it?
To invoke the formatting, locally I run `mvn spotless:apply`.
I've updated the dependencies and pushed a branch to GitHub, and my GitHub Actions workflow gives the same error as well:
* Updated branch: https://github.com/jqno/equalsverifier/commit/5e5878517116eb3d5a1c4cbdf8124254193185b0
* Failing workflow: http

[2021-05-21 09:38] Shaolans commented on #469
This code snippet is getting the error:
[code]

Looks like the issue is about the constructor inside the record

[2021-05-22 20:11] #469 closed

[2021-05-22 20:20] Shaolans commented on #468
Unfortunately as @bd82 this is beyond the scope of prettier-java and is more the role of a linter since we do have to analyze the code to determine if a import is used or not.
I will be closing this issue.

[2021-05-22 20:20] #468 closed

[2021-05-22 20:30] #442 closed

[2021-05-22 20:49] Shaolans commented on #469
bounty claimed https://opencollective.com/generator-jhipster/expenses/41234

[2021-05-22 21:16] pascalgrimaud commented on #469
@Shaolans : approved

[2021-05-23 13:34] DamnClin opened #473 "Records support"
The `1.1.0` was released to have Java 14 `record` support but some cases are still not working.

# Records with constructors

When you are overriding the default constructor, ex:

[code]

You get an error:

[code]
_I get the same error if I keep the same types in the constructor_

# Generic inner records

Sometimes you want to add generics to records defined in a class:

[code]

Formatting will gi

[2021-05-23 16:13] Shaolans commented on #473
Hello @DamnClin, thank you for reporting the issue.
This should be fixed, the issue was referenced in https://github.com/jhipster/prettier-java/issues/469.
@pascalgrimaud Maybe we should release a 1.1.1 ? I cannot do it myself since do not have the right to release npmjs

[2021-05-23 16:19] Shaolans commented on #463
I ran your code snipped with prettier-java however I cannot reproduce your issue
this is what I get:
[code]

[2021-05-23 16:29] Shaolans commented on #462
I will be adding this in the documentation.
Thank you for giving this workaround

[2021-05-23 16:29] #462 closed

[2021-05-23 18:42] pascalgrimaud commented on #473
Ok will try to do a release very soon :-)

[2021-05-24 03:14] Balabili commented on #463
I wrote a reproduce code in [Codepen](https://codepen.io/balabili/pen/XWMRXqL?editors=1111).

[2021-05-24 08:16] Shaolans commented on #463
Hello,
This is working as intended, [this](https://pastebin.com/W0VPh7t6) is an unaryExpression with 2 children: UnaryPrefixOperator containing the '-' and a Primary containing the value '1'.
UnaryPrefixOperator is a category of tokens that is allowed in certain case, you can check it here https://docs.oracle.com/javase/specs/jls/se16/html/jls-15.html#jls-UnaryExpression

[2021-05-24 08:16] #463 closed

[2021-05-24 23:23] DAmNRelentless opened #475 "Switch enum error"
**Prettier-Java 1.1.0**
Options:
[code]

**Input:**
[code]

**Output:**
[code]

**Expected behavior:**
The formatter should no place the enum name in front of the enum values in the switch statement.
This will result in the compiler not liking the code for the following reason:
[code]
The enum is defined in the same class and should not need to be accessed via its name anyways.

[2021-05-25 06:52] DamnClin commented on #473
Tested with this morning release, working, thanks

[2021-05-25 06:57] #473 closed

[2021-05-25 07:04] Shaolans commented on #475
Hello,
I suspect this is not prettier-java doing it.
This would require static code analysis and prettier does not do such thing.
Plus I cannot reproduce it.

[2021-05-25 07:04] #475 closed

[2021-05-26 00:15] DAmNRelentless commented on #475
For anyone finding this issue in the future because they maybe ran into the same problem, the cause of this is the plugin Save Actions when you enable any of the two `Add class qualifier to static member access` options.

Sorry for the trouble :)

[2021-05-26 06:27] jqno commented on #469
I can confirm that it now works with version 1.1.1. Thanks for the quick turnaround!

[2021-06-05 07:12] pascalgrimaud commented on #434
@clementdessoude : adding a bounty as it was a lot of work

[2021-06-05 07:14] pascalgrimaud commented on #447
What I did for my project is to use prettier plugin for intellij, and replaced the default shortcut to use prettier format
It works so well :-)

[2021-06-10 05:32] #434 closed

[2021-06-10 05:43] clementdessoude commented on #434
Thanks @pascalgrimaud !! Bounty claimed ! https://opencollective.com/generator-jhipster/expenses/42718 :)

[2021-06-12 15:33] clementdessoude commented on #449
Hi @xenoterracide ! It's been a while, but I finally took the time to add some docs and a copy/pastable config in #477 !

It is mostly based on the Google style guide, and should be fully compatible with Prettier. Hope it helps :)

[2021-06-12 15:34] clementdessoude commented on #434
I will do a release tomorrow with this :)

[2021-06-12 15:46] #447 closed

[2021-06-12 15:46] #449 closed

[2021-06-13 13:42] #435 closed

[2021-06-14 18:39] jtkiesel opened #484 "Generic constructor's '>' should be followed by whitespace"
**Prettier-Java 1.2.0**

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

[code]

I expect there to be whitespace between the `>` and the constructor name. The provided [Checkstyle rules](https://github.com/jhipster/prettier-java/blob/bc0abb3/docs/checkstyle/checkstyle.xml) also (rightfully) complain about the output, giving me the error message:

[2021-06-15 11:11] clementdessoude commented on #484
Thank you for reporting this ! It should be good with #485

[2021-06-15 14:44] #484 closed

[2021-06-16 07:39] pascalgrimaud commented on #420
It has been discussed here https://github.com/jhipster/prettier-java/issues/469#issuecomment-845740492 by @jqno

[2021-06-16 07:58] jqno commented on #420
I adapted my configuration from the documentation over at the [Spotless GitHub page](https://github.com/diffplug/spotless/tree/main/plugin-maven#prettier)

In my comment I refer to [these lines in the EqualsVerifier pom](https://github.com/jqno/equalsverifier/blob/14d9d7afc0d522644b3ac0e0cac8f79852db9d6e/pom.xml#L433-L468). Note that only the first `<include>` will be necessary for most people `<i

[2021-06-18 20:37] clementdessoude commented on #423
@bd82 do you think you could have a look ? I have to admit that I am a bit lost on the origin of the issue.

Can we add a bounty on this @pascalgrimaud ?

[2021-06-19 06:37] pascalgrimaud commented on #423
Starting with 200, which can be increased if it's a lot of work

[2021-06-19 09:40] bd82 commented on #423
Chevrotain version 9.x is out

[2021-06-19 09:59] bd82 commented on #423
There was a conditional inside the `cstPostNonTerminal` method.
It seems to have been removed in newer versions
- https://github.com/Chevrotain/chevrotain/blob/v6.5.0/packages/chevrotain/src/parse/parser/traits/tree_builder.ts#L268-L272

Try putting the `super` call **inside** the conditional check  in the override of the JavaParser
- https://github.com/jhipster/prettier-java/blob/main/packages/ja

[2021-06-19 10:10] bd82 commented on #423
Not sure a bounty is needed for this...

[2021-06-19 11:56] clementdessoude commented on #423
Thanks a lot @bd82, it looks indeed that your suggestion works !

Even if it was so much work, you deserve the bounty for all the great work you did on this lib, so if you want to take it, it's yours !!

[2021-06-19 12:35] jhaber opened #487 "Support for rangeStart/rangeEnd"
**Prettier-Java 1.2.0**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

It seems like passing range start/end cause nothing to get formatted, even though the code that should get reformatted is within the specified range. Is this just something that isn't implemented yet?

For some context, I was trying to speed up formatting within our IntelliJ integration by only format

[2021-06-19 14:49] bd82 commented on #423
I don't have a paypal account :)

[2021-06-19 15:16] clementdessoude commented on #423
It seems that upgrading to chevrotain >=7 reduce parser execution by 3 (for a file over 6000 lines) :/

<img width="1127" alt="Screen Shot 2021-06-19 at 17 06 33" src="https://user-images.githubusercontent.com/25530077/122646682-b4f44c80-d120-11eb-9d38-56c727e009d6.png">

[2021-06-19 15:19] pascalgrimaud commented on #423
If it reduces the execution time, it is a good news, isn't it? Don't understand your smiley @clementdessoude

[2021-06-19 15:21] clementdessoude commented on #423
Increase, sorry

[2021-06-19 15:25] pascalgrimaud commented on #423
Oh in this case, it is not a good news indeed

[2021-06-19 15:41] bd82 commented on #423
Is that for most test files or just for that single one?

[2021-06-19 15:56] clementdessoude commented on #423
Comparing the logs between these two pipeline, it seems a common behaviour:
- [Before upgrade](https://pipelines.actions.githubusercontent.com/7eZjKBD9anoWciDbpxWJb33i5lRFPrcstohdtvBpkWUdU0dz0t/_apis/pipelines/1/runs/223/signedlogcontent/6?urlExpires=2021-06-19T15%3A55%3A25.0709267Z&urlSigningMethod=HMACV1&urlSignature=nQuiIjJ1xr7iIakYSQCKMKkp6i%2FTSwERsljarz6B5zQ%3D)
- [After](https://pipelines.a

[2021-06-19 16:18] bd82 commented on #423
There are not supposed to be any performance regressions, (definitively none so large).
The main performance hog with Java Parser is the backtracking done to keep the grammar strongly aligned with the specifications.
Perhaps somehow the way that "smart" backtracking has been implemented its not as efficient as with newer versions of Chevrotain?

[2021-06-19 16:35] bd82 commented on #423
- https://github.com/jhipster/prettier-java/blob/main/packages/java-parser/src/parser.js#L92-L112

Possible things that can go wrong:
- Maybe `this.outputCst = false;` does not disable as many things as it did in 6.x  (what caused the execption)
  so more work is being done while backtracking?
- Maybe `isRecognitionException()` behaves differently and the block does not return?

I'd bet on the fir

[2021-06-19 16:54] bd82 commented on #423
Is that performance drop happening with the update to 7.x or to 9.x?

[2021-06-19 17:35] clementdessoude commented on #423
It's in the update to 7.x.

[2021-06-20 13:54] clementdessoude commented on #487
This functionality is indeed not implemented, as I was completely unaware of its existence in Prettier !

[2021-06-20 19:09] bd82 commented on #423
I will try to investigate it, but not sure when.

[2021-06-20 19:37] clementdessoude commented on #484
@jtkiesel a new version of prettier-plugin-java was released this afternoon with the fix, so it should be good now !

[2021-07-04 11:22] sadiqhabib opened #488 "Default interface methods"
**Prettier-Java 0.5.1**

[code]

**Input:**

[code]

**Error:**

[code]

**Expected behavior:**
No error :-)

[2021-07-05 20:34] clementdessoude commented on #488
Hi @sadiqhabib.

Thank you for reporting this, but I cannot manage to reproduce this, either on the latest version or with the version v0.5.1 you provide.

I tried to reproduce with the code in this repo: https://github.com/clementdessoude/prettier-java-demo

Can you try to clone it and run:

[code]

I'm closing the issue, but feel free to comment if you still face the issue :)

[2021-07-05 20:34] #488 closed

[2021-07-06 12:23] sadiqhabib opened #489 "Property is missing in VariableDeclaratorCtx interface"
https://github.com/jhipster/prettier-java/blob/172e7d6ed1d677b9f6e1b879f937f8643c19a729/packages/java-parser/api.d.ts#L1220-L1223

[code]

[2021-07-11 06:44] sadiqhabib commented on #489
See #490

[2021-07-11 06:44] #489 closed

[2021-07-13 17:22] xenoterracide opened #491 "indentation of parameter seems off"
why is the `webclient`  parameter indented at 6 spaces, that seems wrong... I don't *think* that's what prettier does for `js/typescript` decorators.

[code]

[code]

[code]

[code]

[2021-07-13 17:27] xenoterracide commented on #491
closing, I don't know what happened here, ran it again the formatting changed

[2021-07-13 17:27] #491 closed

[2021-07-27 18:29] Clashsoft opened #493 "NPM Package contains unnecessary 344KB yarn-error.log file"
Title says it all. Since the installed folder is only 485 KB, this is 70% of the size wasted.

[2021-07-30 16:12] clementdessoude commented on #493
Thank you for reporting this, it should be good with the latest release (and [this commit](https://github.com/jhipster/prettier-java/commit/cf20060df649b4a95306d8d76c0a5744a3102951))!

[2021-07-30 16:12] #493 closed

[2021-08-14 00:11] hdpklm opened #495 "How to convert Spaces to tabs"
hello all

when i format java file all tabs are conterted to spaces.
how to fix the problem ???

thank you all

[2021-08-14 07:43] gmarziou commented on #495
Edit your` .prettierrc` file and set `useTabs: true`

[2021-08-14 07:43] #495 closed

[2021-08-16 08:48] bsideup commented on #418
I second the suggestion, and it is well aligned with Prettier JS 👍

@clementdessoude we (@AtomicJar) are Bronze sponsors (no bounty access), but would it be possible for us to make a one time donation in addition to it, to set a bounty on this one? Thanks :)

[2021-08-16 08:50] jdubois commented on #418
No need for a one time donation, that’s why friends are here 😀
Is this a complex feature? I’m putting $200 but can increase

[2021-08-16 08:58] bsideup commented on #418
@jdubois thank you! 💯 😄

Happy to "contribute" by testing (even from PR) and providing early feedback 🙌

[2021-08-17 16:15] clementdessoude commented on #418
If I'm not mistaken, I already had a look, and it was not so easy to fix, as the syntax tree is quite complex around lambdas. But it would definitely be better formatted on a single line. I'll try to have a look soon, I may have more inspiration :)

[2021-08-21 19:34] jdubois commented on #418
OK, increasing the bounty to $300

[2021-08-24 09:01] sadiqhabib opened #498 "Parsing Error with static import `Thread.yield`"
**Prettier-Java 0.5.1**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**
Successfully Parse :-)

[2021-08-24 21:30] clementdessoude commented on #498
Hum, that is something annoying. Unqualified call to 'yield' method is not supported in releases since Java 14 (see https://docs.oracle.com/javase/specs/jls/se14/html/jls-3.html#jls-3.9).
I don't see any easy way to have different versions of the parser for different versions of Java. I may have a hack to not break the parser for this use case, even if it is not completely valid.

Anyway, I would

[2021-08-28 12:09] #418 closed

[2021-08-28 12:10] #498 closed

[2021-08-30 17:47] brunoborges opened #501 "Make it a VS Code Extension"
Title says it all. :-P

[2021-08-31 07:06] jdubois commented on #501
I haven’t tried it (I’m using it as a Git pre-hook), but there should already be a Prettier extension, so this should already work.
At least, we shouldn’t build our own extension, the idea is that we benefit from the Prettier ecosystem (or contribute to it). Less work for us, and our users benefit from all the other Prettier plugins.

[2021-08-31 18:06] brunoborges commented on #501
The Prettier extension for VS Code does not come with Java support by default. It requires _non-trivial_ settings to enable JHipster's plugin.

[2021-08-31 18:31] jdubois commented on #501
Oh, let’s have a look at improving it.

[2021-09-15 17:31] khalilou88 opened #502 "Add checkstyle file to the npm package"
Hello,

Thanks for this lib, it work nicely in my project for formatting.

I want to add an option for linting and I want to use the checkstyle file, I can copy past it but I hope I can use it from node_modules so like this I can have future update automatically.

Thanks

[2021-09-15 20:55] victormoukhortov opened #503 "Crashes with undefined error"
**Prettier-Java 0.5.1**

**Input:**

This is generated code. On writing this bug I realize that line 2 is missing a semicolon.
[code]

**Output:**

When using the prettier API (`prettier.format`) attempting to format this code produces an error which is `undefined`:
[code]

**Expected behavior:**

An error describing where parsing failed.

[2021-09-22 08:41] imcuttle opened #504 "can java-parser stringify ast?"
[code]

[2021-09-23 05:46] clementdessoude commented on #504
Hi @imcuttle !

The java-parser plugin cannot print the ast directly, but the goal of the prettier-plugin-java is to do that. There is no exported method that can print directly the CST, but I think that something like this is working for you use case. You can use the formatCst method to print your cst.

[code]

[2021-09-26 11:43] pascalgrimaud opened #505 "prettier-ignore not working as expected"
`// prettier-ignore` seems not working as expected, unless I don't know how to use it.
If I use `// @formatter:off` and `// @formatter:on`, it works well.

**Prettier-Java 1.4.0**

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

[code]

[2021-09-28 12:45] linco95 commented on #501
I'm using [java prettier formatter](https://marketplace.visualstudio.com/items?itemName=mwpb.java-prettier-formatter) plugin and it seems to work for me at least.

[2021-09-28 13:05] linco95 opened #506 "Error formatting records"
I'm setting up prettier as the formatter for my project, and it has some issues to format records

**Prettier-Java 1.4.0**
**Prettier 2.2.1**

**Input:**
[code]

**Output:**
[code]

Related PR #460

[2021-09-28 13:26] linco95 commented on #506
I tried running the maven plugin and that seems to be able to format these files (using java-prettier 1.3.0), suggesting that my issue might be that I might run an older version of java-prettier.

How could I verify which version of java-prettier is being used?

[2021-09-28 19:23] matthewswitzer opened #507 "Record parameters being forced to a single line"
**Prettier-Java 1.4.0**

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

Long lists of parameters should remain on separate lines.

[2021-09-28 22:21] #502 closed

[2021-10-01 23:28] NatoBoram opened #508 "No parser could be inferred for file"
The installation instructions don't seem to work on my end.

**prettier-plugin-java@1.4.0**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

[code]

[2021-10-02 07:52] #504 closed

[2021-10-02 07:58] clementdessoude commented on #506
Hi @linco95 ! It seems working fine for me with version 0.14 of the [prettier-maven-plugin](https://github.com/HubSpot/prettier-maven-plugin). Maybe you can try to see what's version is used by looking into you M2 directory (`ls ~/.m2/repository/com/hubspot/maven/plugins/prettier-maven-plugin/0.14/`)

It also seems that you can specify which version of prettier-plugin-java should be used: https://

[2021-10-02 07:58] #506 closed

[2021-10-02 08:15] clementdessoude commented on #507
Hi @matthewswitzer ! Thanks for reporting this ! 👍

It is indeed something we missed. I opened a PR that should fix the issus !

[2021-10-02 08:18] clementdessoude commented on #505
Oh indeed ! I'll have a look

[2021-10-02 08:35] clementdessoude commented on #503
Hi @victormoukhortov,

I don't reproduce your issue. I created a small sample repository [here](https://github.com/clementdessoude/prettier-java-demo/blob/master/index.js) that seems to behave normally. Could you check it ?

[2021-10-02 08:42] pascalgrimaud commented on #505
Thanks for the confirmation.
Adding a bounty as it's a bug, and because this project is so nice. It deserved more contributions :)

[2021-10-02 08:43] pascalgrimaud commented on #454
Adding a bounty as it's a bug

[2021-10-02 08:44] pascalgrimaud commented on #507
Adding a bounty to improve this part

[2021-10-02 08:45] clementdessoude commented on #508
Hi @NatoBoram !

This seems to be an issue with how Prettier resolves plugin that is not compatible with pnpm (see [this issue](https://github.com/prettier/prettier/issues/8056) and [this one](https://github.com/pnpm/pnpm/issues/3323)).

A workaround seems to be explained in this issue, especially in this comment: https://github.com/sveltejs/prettier-plugin-svelte/issues/155#issuecomment-791935741

[2021-10-02 13:55] #507 closed

[2021-10-02 15:12] trushev opened #510 "Support preview feature: Pattern Matching for switch"
Patterns in switch are preview feature from Java 17. Can it be supported?:)
https://openjdk.java.net/jeps/406

Currently, sad sad panda is thrown from the following code snippet
[code]

[2021-10-02 16:47] clementdessoude commented on #510
Hi @trushev !

I started the work to support this new feature. I think it is almost done but needs to add a few tests to check everything works as expected :)

[2021-10-02 16:52] trushev commented on #510
@clementdessoude
Wow, I'm surprised by such a quick implementation, thank you:)

[2021-10-02 17:27] pascalgrimaud commented on #510
Adding a bounty on this

[2021-10-16 08:42] #510 closed

[2021-10-16 09:36] clementdessoude commented on #507
Thanks @pascalgrimaud ! Bounty claimed :)

https://opencollective.com/generator-jhipster/expenses/52847

[2021-10-22 15:52] jamesdh opened #513 "Configurable import statement ordering"
Currently import statements are force set to the Google Java style guide. Unfortunately this is a deal breaker for our engineers.

Recent versions of IntelliJ support defining their import layout via an `.editorconfig` file. For example, to make IntelliJ use the default import format for Eclipse:

[code]

Where `$` indicates static, `|` indicates a line break, and `*` as wildcard.

It would be awe

[2021-10-24 14:54] eladeyal-intel opened #514 "prettier-java 1.5.0 deletes code"
**prettier 2.2.1** + **Prettier-Java 1.5.0**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

not delete code? whatever was after `s ->` was deleted

[2021-10-30 07:56] laukerta opened #515 "Format annotations within records clearly"
**Prettier-Java 0.5.1**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**
[code]

1. Preserve blank lines between properties
2. Place each annotation and annotated property on separate line if one liner exceeds print-width \
   Input:
[code]
   Expected Output:
[code]
3. Wrap annotation properties if annotation itself exceeds print-width
   Input:
[code]
   Expected Output:

[2021-10-30 20:03] somayaj commented on #505
Hi, I tried this version of the plugin

<plugin>
                <groupId>com.hubspot.maven.plugins</groupId>
                <artifactId>prettier-maven-plugin</artifactId>

                <version>0.8</version>
            </plugin>

case 1: without //prettier-ignore

package com.example.demo;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.Sprin

[2021-10-30 20:24] somayaj commented on #454
this is an issue with the prettier-maven-plugin 0.8 version. I ran through your code and it was unstable with the version that you specified, the plugin-write task had to executed twice to get it work correctly wth the comment str as you mention in the defect.
But, I tried the same code with 0.15 version and it worked correctly the first time around. I would suggest as a fix to upgrade to 0.15 and

[2021-11-03 11:45] somayaj commented on #505
any update here?

[2021-11-03 13:27] somayaj commented on #454
Hi, was there any update on this?

[2021-11-03 14:01] pascalgrimaud commented on #454
@somayaj : I don't understand your question. Is this ticket need an update ? According to your comment, it seems to be fixed, so for me, we can close this ticket

Don't hesitate to tell me if I'm wrong or if I didn't understand something :-)

[2021-11-03 14:01] #454 closed

[2021-11-03 14:03] somayaj commented on #454
Great just upgrade the version of the maven plugin and you should be good,
do I get the 100$ ? Curious

On Wed, Nov 3, 2021 at 9:01 AM Pascal Grimaud ***@***.***>
wrote:

[2021-11-03 14:35] pascalgrimaud commented on #454
Sorry, but to be fair, the bounty should go to the one who did the fix in prettier-java between 0.8  and 0.15 :-)

ping @clementdessoude maybe you know who fixed this issue ?

@somayaj : but don't hesitate to participate to this project or another one of JHipster Organization. We'll be glad to help you. If there are some efforts to fix issues, I can add bounty !

[2021-11-04 22:38] bd82 commented on #423
I've finally have some time to start looking into it.

I've had trouble with the local dev env because of windows + node-gyp + python.

What I'm doing now is:
- running the benchmark on the folder below:
![image](https://user-images.githubusercontent.com/4233843/140429328-7451421c-26bb-4a9c-90b1-c7753c535ed3.png)

- But **without** the latest released version, only against the master version.

- a

[2021-11-04 23:27] bd82 commented on #423
I think I was mistaken, the regression I noticed was likely between 6.5.0 and 7.12 (latest 7.x)
As I can not reproduce a performance regression between 6.5.0 -> 7.0.0

But I can now repeatedly reproduce a performance regression between 7.1.0 -> 7.1.1
- https://github.com/Chevrotain/chevrotain/compare/v7.1.0...v7.1.1

[2021-11-05 00:38] bd82 commented on #423
Okay this is the culprit: it was a refactor which made the exceptions use ES6 syntax and inheritance.
- https://github.com/Chevrotain/chevrotain/commit/9045686f17ae2238fc709496224f6e52b41e158d

What is happening is that due to the "naive" backtracking nature of the parser (no memorization)
- Backtracking because we wanted to stick as close to the spec as possible (at cost of performance).

A great

[2021-11-05 00:53] bd82 commented on #423
# Possible Solutions

## In Chevrotain revert the exceptions implementation to the old style

Problems:
- Won't be fast, as Chevrotain's master branch currently contains breaking changes as work on a new major release is being done.
- While I would like to simplify the exceptions (no real need for class inheritance), the scenario of throwing 24 exceptions per line is not exactly "common" so how mu

[2021-11-05 06:37] RepubIique commented on #514
Can confirm, was fixed in prettier 2.4.1

[2021-11-07 02:10] bd82 opened #516 "Investigate better backtracking performance."
## Background

The Java-Parser is implemented in a style as closely resembling the official specifications.
This is done to increase confidence in it's correctness and ease the maintainability/upgradability when new versions of the specs
are released.

So the specification for CompilationUnit looks like:
![image](https://user-images.githubusercontent.com/4233843/140628749-30a3c0a0-fbd3-4592-881a-a

[2021-11-09 21:29] Robinsstudio opened #517 "Casting not handled properly results in compile-time error"
Hello here! :)

I'm currently having a formatting issue with Prettier which makes my Java code incorrect.
When casting a variable to a type such as `(A & B)`, Prettier transforms it into `(A) & B` which is invalid.
Here is a simple example:

**Prettier-Java 1.5.0**

**Input:**

[code]

The above code is turned into:

**Output:**

[code]

It would be sooo nice if this could be addressed as this is

[2021-11-10 07:47] clementdessoude commented on #517
Hi @Robinsstudio ! Thank you for reporting this !

#518 should fix the issue :)

[2021-11-10 07:53] Robinsstudio commented on #517
Wow! Thank you for the very quick response! 😃

[2021-11-10 17:16] #517 closed

[2021-11-10 17:17] clementdessoude commented on #515
Thank you for reporting this ! I will have a look in the next days (hopefully :))

[2021-11-10 17:17] clementdessoude commented on #514
Thank you for reporting the issue ! I am closing this as the issue seems to be resolved :)

[2021-11-10 17:17] #514 closed

[2021-11-10 17:25] clementdessoude commented on #513
Hi @jamesdh ! Thank you for opening this ticket.

One of the biggest philosophy of Prettier is to be opinionated, and to avoid having too much configuration as it would be counterproductive (https://prettier.io/docs/en/option-philosophy.html)

So I am not sure that we want to add this kind of customization here. Disabling formatting of imports could be considered, however…

@jhipster/developers WD

[2021-11-10 17:26] clementdessoude commented on #508
I'm closing this as we don't have any update on this. If you have anything new to share with us, feel free to comment and we can reopen the issue.

[2021-11-10 17:26] #508 closed

[2021-11-10 17:29] jhaber commented on #513
Why would anyone care about import ordering _at all_, let alone to the point of saying that it's a dealbreaker? I would expect most IDEs to just collapses all of them anyway:
![image](https://user-images.githubusercontent.com/611459/141162864-d98ec2e3-253e-4a17-a7c6-ea1196382c78.png)

[2021-11-10 20:01] deepu105 commented on #513
Agree with Clement.

On Wed, 10 Nov 2021, 6:29 pm Jonathan Haber, ***@***.***>
wrote:

[2021-11-10 20:13] pascalgrimaud commented on #513
Agree with @clementdessoude too

But I don't think disable the order of import would help, because if you activate this option, you'll have different import order, in your team, as every developer will have specific IDE. So it would be bad!

During development, you should not care about import as the order will be done by prettier, that's why it's so nice!

[2021-11-11 23:39] bd82 commented on #516
I've added the missing sections above.
The first step would be to try and get some actual data on how bad the backtracking is (x1.5 or x10 or somewhere in between...)

[2021-11-12 16:07] jamesdh commented on #513
@jhaber it's simply to avoid a gargantuan set of changes to our code base. Also, not all engineers share the same opinion as yours and not all engineers have their imports collapsed by default. I'm trying to find a way to introduce reasonable formatting standards to our codebase without causing too much friction for our engineers.

Thank you @clementdessoude for the input and I can understand the

[2021-11-14 11:04] #515 closed

[2021-11-22 08:29] laukerta opened #520 "Format record properties equivalent to class fields"
**Prettier-Java 1.6.0**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**
[code]
Format document properties equivalent to class fields. For this, each annotation needs to be put on a separate line (regardless of whether the print-width is exceeded).

[2021-11-28 22:38] jellopuddingstick commented on #454
Hey all, not sure why this was marked closed; it is not fixed as of `prettier@2.5.0` and `prettier-plugin-java@1.6.0`.

I'm not using the prettier-maven-plugin, I'm invoking prettier directly from the command line. Full, minimal reproduction steps:

[code]

[2021-12-06 10:24] lamergameryt commented on #271
How do you overwrite this behavior in the `.prettierrc.yml` file? I would like prettier to not add an extra blank-line after classes.

[2021-12-06 10:43] lamergameryt opened #521 "Inconsistent Formatting"
**Prettier-Java 0.5.1**

I'm not sure if this is the intended behavior of Prettier; Prettier adds a new line after class declarations but not after interface declarations.

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

[code]

I feel like if classes have new lines after their declaration, then interfaces, enums, and records should follow the same pattern as well. An opti

[2021-12-06 10:46] lamergameryt commented on #521
I'm not sure if this helps, but the interface `ProjectOrBuilder` is present within a parent class. Maybe that's causing some issues with Prettier's formatting?

[2022-01-04 07:31] jqno opened #522 "Sad sad panda error with nested sealed classes"
**Prettier-Java 1.6.0**

I have a class that contains a static sealed class and its static subclasses. When I try to format it, I get a Sad sad panda error.

[code]

**Input:**

[code]

**Output:**

unchanged, but got this error:

[code]

**Expected behavior:**

No error and properly formatted file

[2022-01-05 13:42] clementdessoude commented on #522
Thanks for submitting this issue @jqno. #523 should fix it hopefully !

[2022-01-05 14:43] jqno commented on #522
Awesome, thanks! I eagerly await the release :smile:

[2022-01-05 14:49] pascalgrimaud commented on #522
adding a bounty as it's a bug
should be cool to have it in next release :)

[2022-01-06 13:08] #522 closed

[2022-01-06 15:16] clementdessoude commented on #522
Hi there ! I just released the 1.6.1 version. Can you test it @jqno and tell me if the bug is fixed ?

[2022-01-06 15:28] jqno commented on #522
Confirmed, it works! Thanks for the quick turnaround!

[2022-01-10 11:59] clementdessoude commented on #522
Bounty claimed ! https://opencollective.com/generator-jhipster/expenses/60787 :)

[2022-01-10 12:18] pascalgrimaud commented on #522
@clementdessoude : approved

[2022-01-10 18:26] xenoterracide opened #525 "violates JLS formatting for type annotations"
prettier violates the JLS which states that a type annotation should be just before the type

**Prettier-Java 0.5.1**

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

[code]

![Screenshot from 2022-01-10 13-00-02](https://user-images.githubusercontent.com/5517/148818721-c8b8ef3c-dea8-45dd-a3fa-8c8cf981bf0b.png)

[2022-01-10 18:29] jhaber commented on #525
Which section of the JLS are you referring to?

[2022-01-10 18:34] xenoterracide commented on #525
https://docs.oracle.com/javase/specs/jls/se12/html/jls-9.html#jls-9.7.4

[2022-01-10 18:47] jhaber commented on #525
Interesting, it seems like prettier-java would have no way to tell whether annotated fields are declaration annotations, type annotations, or both:
[code]

Later on it states:

The current behavior seems to match the JLS recommendation for declaration annotations, which I think is reasonable (assuming that prettier-java doesn't have enough information to distinguish between declaration and type an

[2022-01-10 18:52] xenoterracide commented on #525
Yeah, type annotations aren't that common, honestly I only see it related to `@Nullable` other nullity-related annotations. To be honest you could just support it via checks for a handful of static ones, and provide functionality for people to provide a list. I'm just annoyed because I have another checker telling me I suck.

[2022-01-10 19:14] jhaber commented on #525
Yeah I feel your pain, we had some similar struggles at first with prettier clashing with other tools. Eventually we got rigorous about splitting our validation tools into syntactic (how the code looks) vs. semantic (what the code does). We decided to standardize on prettier for all syntactic validation, and disable anything else that was conflicting with it. And for semantic validation, we're try

[2022-01-10 19:18] xenoterracide commented on #525
ironic you should mention error prone, because that's what's checking this error

[code]

[2022-01-10 19:24] xenoterracide commented on #525
https://errorprone.info/bugpattern/AnnotationPosition

[2022-01-10 19:29] jhaber commented on #525
We don't use any of the checks with `tags = Style`, but it's a bummer they're even adding those sorts of checks. That sort of check doesn't seem to meet their own criteria, even for a warning check:

https://errorprone.info/docs/criteria

[2022-01-10 19:47] xenoterracide commented on #525
I can just disable it 🤷🏻‍♂️, I don't have more arguments than these ;)

[2022-01-10 19:53] pascalgrimaud commented on #525
One quick solution would be:

[code]

[2022-01-10 19:58] xenoterracide commented on #525
yeah, but that's kinda painful to do for every Nullable annotation

[2022-01-10 20:01] jhaber commented on #525
Yeah given that prettier-java is in charge of all the annotation positions, it seems like that check will just keep badgering you about stylistic stuff you can't fix

[2022-01-21 00:47] jhaber opened #526 "Linebreaks in generics"
In testing an upgrade to 1.6.1, we're sometimes seeing line breaks introduced into generics. Seems like this is probably a result of #512. I can see this being useful in pathological cases with extremely long generic type lists, but the issue is that we run prettier with a pretty aggressive line length limit, so we end seeing split generics even in relatively straight-forward code samples. And it'

[2022-02-08 20:51] jtkiesel opened #527 "Print width not obeyed on assignments"
**Prettier-Java 1.6.1**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

[code]

I expect lines that exceed the configured print width to be broken after `=`.

This used to be an issue for Prettier with JavaScript as well, see https://github.com/prettier/prettier/issues/2482. However, https://github.com/prettier/prettier/pull/10222 seems to have fixed most of the issues (a

[2022-02-16 20:42] jimmy-vo-librestream opened #528 "Code is removed with switch case"
Example file

package.json:
[code]
Sample file `sample.java`:
[code]
Expected: File is formated
Obtained: Lines are removed
[code]

[2022-02-16 22:54] clementdessoude commented on #528
Hum, that's strange, it seems it does not appear with v2.3.1 of prettier, I don't know why for the moment. Can you try upgrading the version of prettier to the latest version ?

[2022-02-17 00:17] jimmy-vo-librestream commented on #528
yes, upgrading to that version fixed the issue. thanks

[2022-02-17 00:17] #528 closed

[2022-02-22 06:51] creasy2010 opened #529 "Lambda expression formatting encountered a bug， some code is missing。"
**Prettier-Java 1.6.1**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

[code]

[2022-02-22 07:29] pascalgrimaud commented on #529
I don't have problem with prettier-plugin-java 1.6.1 :

![image](https://user-images.githubusercontent.com/9156882/155083261-04a0f1a4-4ae0-485f-b0e6-22d9c6934442.png)

[2022-02-22 09:00] creasy2010 commented on #529
I know the cause of the problem. Prettier-java161 with prettier 1.16.4 will reproduce the problem;
If I upgrade prettier to 2.5.1, the problem is solved!

Thank you for your timely response！ 

[2022-02-22 09:14] pascalgrimaud commented on #529
Thanks for the feedback
So I think we can close the ticket :)

[2022-02-22 09:14] #529 closed

[2022-03-03 14:54] sheiy opened #530 "can not remove unused import"

[2022-03-03 16:47] pascalgrimaud commented on #530
see the discussion here: https://github.com/jhipster/prettier-java/issues/468

[2022-03-11 16:45] jhaber commented on #526
👋  just wanted to see if anyone has thoughts on this

[2022-03-21 07:51] clementdessoude commented on #526
Hi @jhaber !

I am not sure on the best behaviour here. It sure seems that your expected behaviour looks nicer in your case, and we might want to solve a formatting problem that happens in very rare use cases. The three options I see are:
1. keeping the rule as it is
2. remove it completely
3. trying to adapt it so that it could be break only for very long generics name or lots of generics, but it

[2022-03-21 07:59] clementdessoude commented on #527
Thanks for reporting this ! It is an issue only when the first element of the assignment is a new expression. Unfortunately, this part of the code is particularly complex due to the way the Java syntax is build around expressions. It should be possible to handle this use case, but I may need some time to investigate

[2022-03-21 07:59] #530 closed

[2022-03-21 08:01] clementdessoude commented on #530
As @pascalgrimaud pointed out, it is behind the scope of this formatter to remove unused imports. Feel free to see the issue Pascal pointed out for some solution

[2022-03-21 08:08] pascalgrimaud commented on #527
as it's a bug, let's start with this bounty. If it's more work than expected, I'll increase it

[2022-03-21 08:13] pascalgrimaud commented on #526
I'd vote for keeping the rule as it is, as the problem comes from `GenericWblGeneratorWithLongName`, it could be easy to find one shorter.

Anyway, I'd suggest to use some `// prettier-ignore` when it's needed :)

[2022-03-21 13:15] jhaber commented on #526
There is also a method in the code sample I posted and it doesn't contain any lengthy identifiers. Unfortunately I don't think renaming existing classes and rewriting existing method signatures is a viable workaround at our company with 1,000+ engineers and millions of lines of existing code. We all assumed it was a bug in prettier-java until we found #512. The code essentially looked mangled to u

[2022-03-21 13:25] pascalgrimaud commented on #526
I can understand your concerns @jhaber but what would be your vote, according to what @clementdessoude suggest ?
As the final decision is for @clementdessoude :)

[2022-03-21 13:49] jhaber commented on #526
My vote would probably be for option 2. I don't see any issues linked to #512, so I'm not sure how many people were having issues with long generics. Option 3 could be nice but I think it's better to keep the formatting dumb and consistent rather than trying to make it smart with heuristics.

[2022-04-05 15:30] JanecekPetr opened #531 "Force wrap of method chains"
**Prettier-Java 1.6.1**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**
[code]

or (not the point here)

[code]

I understand we can tweak the print width, but this is about the general idea of forcing chained methods to be wrapped every time as every method is a separate step, and should be on a separate line. One line - one idea, one action.

Obviously the authors think

[2022-04-05 15:40] JanecekPetr opened #532 "String concatenation formatting"
**Prettier-Java 1.6.1**

Related to https://github.com/jhipster/prettier-java/issues/77.
In this case we're getting compilable code, it's just sub-ideal.

[code]

**Input:**
[code]

**Output:**

[code]

**Expected behavior:**
I see two options:
- do not join the lines if they contain string concatenation like this
- join, but make sure to get rid of all the concatenation

[2022-04-09 02:59] nathan818fr opened #533 "Sad sad panda error with nested sealed interfaces"
**Prettier-Java 1.6.1**

Like https://github.com/jhipster/prettier-java/issues/522 but for inner-interfaces.

**Input:**
[code]

**Output:**
[code]

**Expected behavior:**
No error and properly formatted file

[2022-04-17 00:21] rubixibuc commented on #44
Checking if this effort is still alive. Was searching for this today

[2022-04-19 08:54] JanecekPetr opened #534 "Wrap before binary operators"
Binary operators are being wrapped in a Java-uncommon way.

Binary operator wrapping/indentation was, as far as I can see, last overhauled in https://github.com/jhipster/prettier-java/pull/255 which "fixed" three issues. However, the discussion in https://github.com/jhipster/prettier-java/issues/218 was sadly ignored. The ticket predominantly says that long lines should be wrapped *before* the bin

[2022-05-02 07:13] vincentditlevinz opened #535 "Should support pattern matching guards"
**Prettier-Java 1.6.1**

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

Should support pattern matching guards

[2022-05-18 16:45] RadixSeven opened #536 "Reformatting incorrectly concatenates decorator and decorated identifier in a generic extends clause"
**Prettier-Java 1.6.1**

*.prettierrc*
[code]

*Options:*
[code]

**Input:**
[code]

**Output:**

[code]

**Expected behavior:**
Should not delete the space in `@NotNull T`. The deletion changes the semantics.

**Workaround**
[code]

[2022-05-22 05:25] clementdessoude commented on #536
Hi @RadixSeven ! Thanks for reporting this issue ! #537 should fix it !

[2022-05-22 05:40] clementdessoude commented on #532
Hi @JanecekPetr,

I understand that this might be a little annoying.

However, I do not to get rid of the concatenation as it would change the AST, which we want to avoid.
And I don't think we want to introduce specificity for printing string concatenation either, as it would introduce some complexity for a limited (and maybe controversial) value.

[2022-05-22 05:42] pascalgrimaud commented on #536
Adding a bounty as it's a bug

[2022-05-22 06:13] clementdessoude commented on #533
Hi @nathan818fr !

Thank you for reporting this, and sorry for the delay ! #523 fixed the issue for nested sealed classes in class body declarations, but I forgot to update interface declarations as well :/

#538 should fix this !

[2022-05-22 06:20] clementdessoude commented on #531
Hi @JanecekPetr !

Thank you for this proposal, and sorry to only answer now !

The issue here is to have a heuristic where to break, and it is extremely difficult. For instance, you have a line break between Arrays and stream, but not between Collectors and toList.

We try to follow prettier's behaviour on this topic

[2022-05-22 06:26] clementdessoude commented on #535
Thank you for reporting this @vincentditlevinz ! We indeed did not introduce this preview feature yet, but it should be feasible without breaking the existing !

[2022-05-25 09:09] #533 closed

[2022-05-25 09:09] #536 closed

[2022-05-25 09:13] pascalgrimaud commented on #533
adding a bounty as it's a bug, which needs to be fixed

[2022-06-16 00:31] JanecekPetr commented on #531
I'd happily forgo the split between Arrays and stream as well (as Google Style Format does), but that's not the point here, nor is it important.

A break between Collectors and toList is also a non-issue as that's a single method call, no chain. It's one nested expression. Now, if that were `Collectors.extra().crispy()`, I'd consider breaking there.

But this is about chained method calls. And I h

[2022-06-16 00:40] JanecekPetr commented on #532
That's fair. So we do not want to make a single concatenated String, I'm fine with that.

Would it be better in those cases to not join the lines, but rather follow the human flow, and keep the strings on separate lines as a human put them there originally?

[2022-06-16 01:14] jhaber commented on #531
If you set your print width to 70 or something you should get pretty close to your desired behavior. But what your asking for is a pretty big departure from the current behavior. I believe prettier-js has had discussions on this topic without really going anywhere:
https://github.com/prettier/prettier/issues/1565

The current behavior seems to be not forcing the wrapping of call chains unless the

[2022-06-20 16:45] marcwrobel opened #541 "Sad sad panda when formatting code containing a regex ("^\s$")"
When formatting a java file that contains the following code with prettier-java 1.6.2 (prettier 2.3.1), I have got a _lexing error_ :
[code]

The error is :
[code]

[2022-06-20 16:46] marcwrobel commented on #541
Interestingly, there is no issue if I change the regex to `"^\\s$"`.

[2022-06-24 21:51] JanecekPetr commented on #531
That's fair, I'm happy with this assessment. The issue originated from me looking at a piece of code I _personally_ thought was suboptimal and not up to modern Java standards. Obviously it's not a big deal, and I see I may be the minority here.

Thank you!

[2022-06-24 21:51] #531 closed

[2022-07-03 07:16] clementdessoude commented on #541
Hi @marcwrobel !

Thank you for reporting this ! Looks like we forgot the escaped space from the available escaped sequences. Should be good with #543 !

[2022-07-03 07:22] pascalgrimaud commented on #541
Adding a bounty as it's a bug

[2022-07-08 20:26] marcwrobel opened #544 "Sad sad panda when formatting code containing a regex (`".*\"test\"\s*:\s*\"[a-z]+\".*"`)"
When formatting a java file that contains the following code with prettier-java 1.6.2 (prettier 2.3.1), I have got a _lexing error_ :
[code]

The error is :
[code]

[2022-07-08 20:30] marcwrobel commented on #544
Same error with `.*\"[a-z]\"\s*:.*`, but works with `.*\"[a-z]\":.*` (`\s*` removed) or `".*\"[a-z]\"a*:.*"` (`\s` replaced by `a`).

[2022-07-09 07:54] #541 closed

[2022-07-09 08:13] clementdessoude commented on #544
I think this is the same issue as #541, it was an issue with parsing of the \s sequence in strings. I will release a new version of the plugin this weekend to make available the fix.

However, if I may put my two cents in, I am not sure that the regex is doing what you want, you may need to add another `\` before your `\s` to catch any whitespace character. Otherwise, your regex is equivalent as `

[2022-07-09 08:13] #544 closed

[2022-07-09 18:30] marcwrobel commented on #544
Hi @clementdessoude, you are right, this is the same bug and I made the same mistake that led to the creation of #541 (forgot to escape the `\`). I should not code when I am tired and it is late ;). Sorry for the lost time.

[2022-07-19 17:17] jhaber commented on #526
Just wanted to see if there are any other thoughts here. We've been holding off on upgrading past 1.4.0 because of this issue, but now that's limiting our ability to use Java 17 syntax features

[2022-07-19 17:33] jhaber commented on #526
If #512 gets reverted, people can always line-break complicated generics manually and then use `// prettier-ignore` as needed. In my experience, I just haven't seen very much code out there that looks like the example in #512

[2022-08-01 00:42] mshima opened #545 "Not accepting a supplier as argument."
**Prettier-Java 0.5.1**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

Should not fail.

[2022-08-01 00:43] mshima commented on #545
Error is happening at https://github.com/jhipster/generator-jhipster/pull/19292.

[2022-08-01 08:09] clementdessoude commented on #545
Hi @mshima ! Shouldn't it be a `->` instead of a `=>` ?

[2022-08-01 09:23] mshima commented on #545
Indeed thanks @clementdessoude

[2022-08-01 09:23] #545 closed

[2022-08-23 03:27] lisonge opened #547 "strict mode: Uncaught ReferenceError: process is not defined"
<https://github.com/jhipster/prettier-java/blob/main/packages/java-parser/src/utils.js>

[code]

in browser env and `strict mode`, will throw error

![image](https://user-images.githubusercontent.com/38517192/186062804-296f588c-b2fb-45fb-90e4-f4e946473e9d.png)

you can fix it by `globalThis.process = globalThis.process`
[code]

[2022-08-23 03:31] lisonge commented on #547
`prettier-plugin-java/v1.6.2.umd.js` com form <https://github.com/lisonge/pkg-cdn.git>

[2022-08-23 03:47] lisonge commented on #547
fix by custom rollup plugin

[code]

[2022-08-24 07:46] AKclown commented on #419
Does it now support formatting in the browser?

[2022-08-26 15:41] xenoterracide opened #548 "type annotations on fields"
[code]

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**

Although this works, it is incorrect, it's supposed to go on the type. I'm not sure how best for you to deal with this. Perhaps you could sort annotations but not move them when they're in that position? I notice it's not moving them when they're on methods.

[code]

[2022-08-26 16:25] jhaber commented on #548
Is this a duplicate of https://github.com/jhipster/prettier-java/issues/525 ?

[2022-08-26 17:38] xenoterracide commented on #548
haha, yes, obviously you haven't fixed it yet ;) sometimes I forget when I report things and they aren't fixed and they come back to annoy me again. You still need to fix it ;) .

[2022-08-26 17:38] #548 closed

[2022-08-26 17:39] xenoterracide commented on #548
also since it didn't affect methods I thought maybe it was partially fixed

[2022-08-26 17:40] xenoterracide commented on #525
perhaps not moving annotations out of that position would be a good workaround per #548 I don't notice this problem with getter/setters, so what's being done there?

[2022-09-05 11:57] acbin opened #549 "`prettier --write "**/*.java"` produced a new blank line after java class definition."
Hi there, I have a question.

After executing command line `prettier --write "**/*.java"`, a new blank line was automatically added after java class definition. What should I do to avoid this.

Look forward to your reply. Thanks!

![图片](https://user-images.githubusercontent.com/44314231/188442633-1d032f59-6cb8-4fdb-82ce-42461e018e9c.png)

[2022-09-06 08:47] BjornJaspers opened #550 "Unwanted space in "exports"-statement in module-info.java"
**Prettier-Java 1.6.2**

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**
There shouldn't be a space right before the semicolon in an `exports`-statement.

[2022-09-08 08:46] vadimpopa opened #552 "Use in browser ?"
I see in in readme this: " It could even be used inside a browser.". But looking in code I see is not browser runnable, and in dist there aren't any ems files that I could use, just like prettier has in here https://prettier.io/docs/en/browser.html.

Any thoughts ? Adjusting from cjs to esm would make that possible ? Or maybe extend build to generate esm too ?

[2022-09-12 18:32] #550 closed

[2022-09-12 18:37] clementdessoude commented on #549
Hi @acbin ! Prettier is an opinionated code formatting tool, which provides on purpose only a very few options to change the formatting output. So there is no configuration to have or not have this blank line, it is a choice we made, which, in our opinion, improves most of the time the readability, and does not harm it otherwise.

To have a better understanding on why there are so few options, I r

[2022-09-12 18:37] #549 closed

[2022-09-12 18:45] clementdessoude commented on #552
The only time I try it was using it approximately [like this](https://github.com/Shaolans/prettier-java-playground/blob/master/src/components/CodeArea.vue), but this was a long time ago, I don't ever recall if it was working properly

There might be a better way to do this, or we could try to add a standalone script which would bundle both the base prettier package and the plugin

[2022-09-20 09:19] mazhe-nerd commented on #547
globalThis.process = globalThis.process可以修复的原理是？

[2022-09-20 09:20] mazhe-nerd commented on #547
@lisonge globalThis.process = globalThis.process 可以修复的原理是？

[2022-09-20 09:34] lisonge commented on #547
浏览器环境没有 `process` 全局变量/属性，`严格模式` 下使用未声明的变量/属性会报未定义错误

<https://github.com/jhipster/prettier-java/blob/d7b64304a951320139d13ab856963a28b96c4aac/packages/java-parser/src/utils.js#L13-L15>

`globalThis.process = globalThis.process` 的意思是声明 `process` 为全局变量/属性，让 `process` 变成已定义，此时再在函数内使用 `process` 则不会报未定义错误

[2022-09-20 10:38] lisonge commented on #552
you can build it by vite/rollup/webpack/esbuild and note https://github.com/jhipster/prettier-java/issues/547

if you don't want to build, you can use <https://github.com/lisonge/pkg-cdn/tree/main/dist/prettier-plugin-java>

[2022-09-20 11:45] cameronweibel opened #553 "Critical dependency: the request of a dependency is an expression, prettier/parser-typescript"
**prettier-plugin-java 1.6.3**

On compiling prettier-plugin-java, I get the following warning:

WARN  in ./node_modules/prettier-plugin-java/node_modules/prettier/parser-typescript.js
Critical dependency: the request of a dependency is an expression                  friendly-errors 13:30:42

How can I remedy this?

[2022-09-27 07:46] ukuhnhardt opened #554 "Destroys java lambda expressions"
**Prettier-Java 1.6.2**

[code]

**Input:**

[code]

**Output:**

[code]

**Expected behavior:**
Don't swallow the lambda expression.

[2022-09-27 09:08] clementdessoude commented on #554
Hi @ukuhnhardt ! I tried to reproduce, but was not able to. I created a small repo to try to reproduce here: https://github.com/clementdessoude/prettier-java-demo

And here is the output I got:

<img width="715" alt="Screen Shot 2022-09-27 at 11 05 00" src="https://user-images.githubusercontent.com/25530077/192484315-45576ff2-c97b-4352-9f3f-d186890ecee5.png">

As I cannot reproduce, I will close t

[2022-09-27 09:08] #554 closed

[2022-09-29 12:46] ukuhnhardt commented on #554
Thanks for the quick reply! The problem on my side was an older version of prettier (1.18.2). Once I upgraded to the same version as the test repo it works fine.
Thanks again for the great work and apologies for the trouble! Cheers, Ulrich

[2022-09-30 10:35] vadimpopa commented on #552
Thanks guys for help.

@clementdessoude in that repo works indeed, but it is old. The newer packages don't seem to work.
@lisonge I've tried to build with the `esm` format but when build in our web pack app it fails at api require:

[code]
Seems that build is broken.

[2022-09-30 12:53] lisonge commented on #552
@vadimpopa

What does `when build in our web pack app it fails at api require` mean ? what is output error ?

I can use `prettier-plugin-java` in my web app

[v2ex-comment-markdown/blob/main/src/format.ts#L6](https://github.com/lisonge/v2ex-comment-markdown/blob/bedaa16dbd78984714dd7766378f870ea3d11587/src/format.ts#L6)

if you need build es format, you can try this code

[code]

[2022-09-30 14:24] #552 closed

[2022-10-02 19:02] #547 closed

[2022-10-06 10:16] Namyalg opened #555 "Configure `prettier --write` to run with Custom Checkstyle"
Is there a way to pass a custom checkstyle file to the command `prettier --write` ?

[2022-10-13 15:15] mernst opened #556 ""Contributing" guide is not clear"
https://github.com/jhipster/prettier-java/blob/main/CONTRIBUTING.md says:

So I did this:

[code]

The output of the `yarn` command was

[code]

What am I missing?

[2022-10-19 14:47] sosukesuzuki opened #557 "Migrate to Prettier v3"
Sorry for ignoring the issue template...

Hi, I am a maintainer at Prettier.

The Prettier team is currently working on v3(still alpha).
v3 will include breaking changes to the plugin interface.
Please see https://github.com/prettier/prettier/releases/tag/3.0.0-alpha.2 for more information.

I created this issue to help major plugins migrate to Prettier v3.

Myself and @fisker have created a migra

[2022-10-22 07:56] clementdessoude commented on #557
Hi @sosukesuzuki ! Thank you for your work on Prettier !

I tried this morning to update the plugin to Prettier v3. Everything seems working overall, there are just a few things I need to clean up :)

[2022-10-22 08:18] jdubois commented on #557
I put a bug bounty on this as it’s super important and @clementdessoude you always do an awesome job maintaining this!
cc @pascalgrimaud @deepu105

[2022-10-22 09:06] pascalgrimaud commented on #557
Totally agree :-)

[2022-10-23 10:57] clementdessoude commented on #556
Hello mernst ! You may have the wrong yarn package :)

https://github.com/yarnpkg/yarn/issues/2821#issuecomment-284181365

I'm closing the issue, as it seems this is the fix to your issue, but feel free to comment if it does not !

If you need some guidance to start contributing, you can also comment on this issue

[2022-10-23 10:57] #556 closed

[2022-10-24 18:10] mernst commented on #556
Thank you for the explanation.  I appreciate it.

Since the wrong yarn is installed by default on Ubuntu, I suggest adding a warning to https://github.com/jhipster/prettier-java/blob/main/CONTRIBUTING.md, or saying what to do if the "ERROR: There are no scenarios; must have at least one." error appears.  Thanks.

[2022-10-30 08:23] mwpb commented on #501
Hi all, I'm the 'author' of `mwpb.java-prettier-formatter`. Thanks for all the hard work on `prettier-plugin-java`. Did the above discussion lead anywhere? Right now haven't used Java for quite a while and there am probably not right person to maintain a VS Code extension. For the short term, I'm happy to do a small amount of work updating the `prettier-plugin-java` dependency of `mwpb.java-pretti

[2022-11-14 07:31] fischermatte commented on #535
We are having the same issue. Is there any documentation which states that prettier-java is ready for Java 17+ ? We are having other issues with records as well.

[2022-11-14 15:25] senthilsivanath commented on #553
+1

[2022-11-14 15:26] senthilsivanath commented on #553
Facing similar error
[code]

[2022-11-26 02:19] #535 closed

[2022-11-26 02:21] clementdessoude commented on #535
Hello @vincentditlevinz and @fischermatte ! The #559 should fix the issue !

@fischermatte could you create another issue for the records issue you have ? It would be very helpful in order to provide some fixes !

[2022-11-26 12:57] clementdessoude commented on #557
Thanks @jdubois @pascalgrimaud :)

@sosukesuzuki everything seems to be working fine ! I prepared the migration in #561. I'll keep this issue and #558 opened until Prettier v3 is out !

[2022-11-26 13:32] clementdessoude commented on #553
Hello to both of you ! Thanks for reporting this ? Can you try with latest version and let me know if the issue was fixed ?

[2022-11-28 12:02] cameronweibel commented on #553
![image](https://user-images.githubusercontent.com/8155129/204272939-fbb43e46-950d-414a-8e58-cebda57865a0.png)

@senthilsivanath It still doesn't work for me. Thanks for looking into it.